*.* text eol=lf
go/v4/pro/*.go linguist-generated=true
js/** linguist-generated=true
python/ccxt/prediction/*.py linguist-generated=true
go/v4/prediction/*.go linguist-generated=true
*.so  binary
*.wasm binary
*.o   binary
*.dll binary
*.dylib binary
*.png binary
*.ico binary
*.jar binary
